        @font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 400;
            src: url(./fonts/IRANSansWeb.eot);
            src: url('./fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), url(./fonts/IRANSansWeb.woff2) format('woff2'), url(./fonts/IRANSansWeb.ttf) format('truetype')
        }
        @font-face {
            font-family: pixelboy-BHoma;
            src: url('./fonts/pixelboy-BHoma.eot');
            src: url('./fonts/pixelboy-BHoma.eot?#iefix') format('pixelboy-BHoma-opentype'), url('./fonts/pixelboy-BHoma.woff') format('woff'), url('./fonts/pixelboy-BHoma.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
          }
        html {
            width: 100vw;
            height: 100%;
            margin: 0;
            padding: 0;
            direction: rtl;
            
            font-size: 85%;
        }
        
        body {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            font-family: IRANSans;
            background-image: url('../img/pattern.jpg');
        }
        
        header {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            background-color: rgb(53, 50, 50);
            margin: auto;
        }
        
        header img {
            width: 100%;
            height: 100%;
        }
        
        a {
            text-decoration: none;
        }
        
        .content {
            background-color: #fff;
            width: 100%;
            height: auto;
            z-index: 1;
        }
      
        .blur{
filter: blur(4px);
        }
        
        footer {
            width: 100%;
            background-color: black;
            color: white;
            font-size: 75%;
            direction: ltr;
            padding: 4px 16px;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .container {
            max-width: 1200px;
            height: auto;
            margin: auto;
        }
        
        .container-h {
            max-width: 1200px;
            height: auto;
            margin: auto;
            position: sticky;
            top: -1px;
            height: 5.2rem;
            z-index: 100;
        }
        
        .pre-top {
            width: 100%;
            background-color: rgb(53, 50, 50);
        }
        
        .top {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            width: 78%;
            background: transparent;
            margin: auto;
        }
        
        .logo {
            width: 75px;
            height: 75px;
            cursor: pointer;
        }
        
        .logo img {
            width: 100%;
            height: 100%;
        }
        
        .logo i {
            font-size: 450%;
            color: rgb(44, 44, 226);
            line-height: 1.2;
            text-shadow: -4px 0px 4px lightblue;
        }
        
        .menu {
              list-style: none;
            padding: 0;
            background: transparent;
            /* width: 400px; */
        }
        
        
        .menu li {
            position: relative;
            display: inline-block;
            padding: 0px 12px;
            color: rgb(223, 157, 71);
            cursor: pointer;
          
        }
        
        .menu li a {
            color: inherit;
            padding: 8px 0;
        }
        
        .menu-active {
            border-top: dashed 2px rgb(44, 44, 226);
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
        }
        
        .menu li:hover {
            color: rgb(248, 211, 163);
            transition: all .3s;
        }
        
        .menu li::after {
            content: "";
            width: 0%;
            height: 1px;
            background: rgb(248, 211, 163);
            display: block;
            margin: auto;
            transition: all .3s;
        }
        
        .menu li:hover::after {
            width: 100%;
        }
        
        .sosial {
            width: 125px;
            background: transparent;
        }
        
        .sosial i {
            color: rgb(223, 157, 71);
            font-size: 22px;
            margin-right: 12px;
            cursor: pointer;
        }
        
        .sosial i:hover {
            color: rgb(248, 211, 163);
            text-shadow: 0px 0px 2px yellow;
        }
        
        .hamburger {
            width: 30%;
            display: none;
            /* position: absolute; */
            top: .08rem;
            right: .8rem;
            text-align: right;
            border: none;
            z-index: 90;
            padding-right: 16px;
        }
        
        .hamburger__button {
            position: relative;
            width: 2.2rem;
            height: 2.2rem;
            border: none;
            outline: none;
            border-radius: 50%;
            cursor: pointer;
            background-color: transparent;
            overflow: hidden;
            text-indent: 100%;
            color: transparent;
            white-space: nowrap;
            z-index: 90;
        }
        
        .hamburger__icon,
        .hamburger__icon::before,
        .hamburger__icon::after {
            position: absolute;
            width: 1.6rem;
            height: .18rem;
            border-radius: 10px;
            background-color: #fff;
        }
        
        .hamburger__icon {
            top: calc(50% - 1px);
            left: calc(50% - .8rem);
            transition: all 0.15s linear;
        }
        
        .hamburger__icon::before,
        .hamburger__icon::after {
            content: "";
            left: 0;
        }
        
        .hamburger__icon::before {
            bottom: .45rem;
            height: .14rem;
        }
        
        .hamburger__icon::after {
            top: .45rem;
            transition: all 0.15s linear;
            height: .16rem;
        }
        
        .toggled.hamburger__button .hamburger__icon {
            height: .18rem;
            width: 1.6rem;
            left: .3rem;
            top: calc(50% - .06rem);
            transform: rotate(-45deg);
            background-color: #fff;
        }
        
        .toggled.hamburger__button .hamburger__icon::after {
            width: 1.6rem;
            height: .18rem;
            top: 0;
            transform: rotate(-270deg);
            background-color: #fff;
        }
        
        .toggled.hamburger__button .hamburger__icon::before {
            transform: scale(0);
        }
        
        .menu-drop {
            right: 0 !important;
            transition: all .4s;
        }
        
        .unit-a {
            display: flex;
            flex-direction: row;
            background-color: white;
            width: 100%;
            height: 300px;
            overflow: hidden;
            padding: 32px 8px;
        }
        
        .unit-b {
            display: flex;
            flex-direction: row;
            background-color: #fff;
            width: 100%;
            height: 400px;
        }
        
        .unit-c {
            direction: ltr;
            background-color: #000;
        }
        
        .unit-c h2 {
            color: black !important;
        }
        
        .unit-c p {
            color: rgb(59, 59, 59) !important;
        }
        
        .unit-c .b-1,
        .unit-c .b-1-a {
            background-color: white !important;
        }
        
        .unit-c .b-inner {
            background-color: rgb(236, 236, 236) !important;
        }
        
        .a-1,
        .a-2 {
            width: 50%;
        }
        
        .a-2 {
            padding-left: 85px;
            overflow: hidden;
        }
        
        .a-2 img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border-bottom-left-radius: 32px;
        }
        
        .a-1 {
            padding: 0 40px 8px 24px;
            text-align: justify;
        }
        
        .a-1 a,
        i {
            color: rgb(223, 157, 71);
            font-weight: 900;
        }
        
        .b-1 {
            width: 35%;
            padding: 20px;
            background-color: black;
            text-align: center;
        }
        
        .b-1 h2 {
            color: white;
        }
        
        .b-1 p {
            color: rgb(170, 170, 170);
            font-weight: 300;
        }
        
        .b-1-a {
            width: 100%;
            height: 100%;
            padding: 50px 0;
            background-color: black;
            border: solid 2px rgb(223, 157, 71);
            border-left: none;
            border-right: none;
        }
        
        .b-inner {
            width: 100%;
            height: 100%;
            background-color: rgb(22, 22, 22);
            padding: 16px;
        }
        
        .b-2 {
            width: 65%;
        }
        
        .b-2 img {
            width: 100%;
            height: 100%;
        }
#footer{
    position: fixed;
    bottom: 0;
}
        .footer{
            text-align: center;
            padding: 10px;
        }
        .footer a{
            
          font-size: 15px;
            color: #fff;
        }
        .footer a span{
            font-size: 15px;
              color: gold;
          }
          .footer a span:hover{
            font-size: 18px;
            color: rgb(83, 44, 226);
          }
.connect span{
    font-size: 16px;
}
.bg-us{
  padding: 1em 2em ;
   
}
.about-img figure img{
    border-radius: 10px;
    border-bottom-left-radius: 32px;
}
.about-p{
  width: 50%;
  font-size: 20px;
}

          /* --------------------------  media start   -------------------------- */
        
        @media (max-width:767px) {
            .container {
                width: 100%;
            }
            .top {
                width: 100%;
            }
            .space {
                display: none;
            }
            .menu {
                position: absolute;
                background-color: rgb(43, 42, 42);
                top: 64px;
                right: -100%;
                width: 225px;
                padding: 10px 4px;
                transition: all .3s;
                opacity: .85;
                background: linear-gradient( -90deg, #000, rgba(10, 10, 10, .85), transparent);
                border-bottom: solid 1px white;
                min-height: 20vh;
            }
            .menu li {
                display: block;
                border-top: none !important;

            }
            .menu li a{
                display: block;
                padding: 12px 0;
            }
            .menu li::after {
                width: 0% !important;
            }
            .hamburger {
                display: block;
            }
            .unit-a,
            .unit-b {
                flex-direction: column !important;
                height: auto !important;
            }
            .b-1,
            .b-2 {
                width: 100%;
                height: auto;
            }
            .a-1 {
                height: auto;
                padding: 0 24px 8px 24px;
                width: 100% !important;
            }
            .a-2 {
                width: 100% !important;
                height: auto;
                padding: 8px 16px;
            }
        }
        
        @media (min-width:768px) and (max-width:991px) {
            .container {
                width: 100%;
            }
        }
        
        @media (min-width:1400px) {}
        
        @media (min-width:1612px) {
            .container {
                max-width: 1400px !important;
                width: 1400px !important;
            }
            .container-h {
                max-width: 1400px !important;
                width: 1400px !important;
            }
        }